<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>layui在线调试</title>
  <link rel="stylesheet" href="../../component/pear/css/pear.css" />
  <link rel="stylesheet" href="../../component/layui/css/layui.css" />
  <style>
      body{margin: 10px;}
      .search{
      	margin-top: 20px;
      	 text-align: center;
      	 
      }
	  .layui-input{
	  	width: 300px;
	  }
      .layui-form,.delAll_btn,.add_btn{
      	display: inline-block;
      }
      .delAll_btn,.add_btn{
      	margin-left: 10px;
      }
      
      
	  
	  #pages{
		  margin: 0 auto;
	  }
      
    </style>
  
</head>
<body>
	
	<!-- 搜索 -->
	<div class="layui-fluid search" >
		<form class="layui-form layui-col-space5">
	
			<div class="layui-inline layui-show-xs-block">
				<input type="text" class="layui-input" name="username" placeholder="请输入信息" autocomplete="off" >
			</div>
			<div class="layui-inline layui-show-xs-block">
				<button class="layui-btn search_btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
			</div>
	
		</form>
		
		
	</div>
 
 <!-- 数据表格 -->
<div class="container" style="width: 100%;">
 	<table class="layui-hide" id="demo" lay-filter="test"></table>
 	
 </div>
 <div id="pages"></div>
 
 
<script type="text/html" id="barDemo">

  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
 

<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script src="../../component/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../../js/ahao.js" type="text/javascript" charset="utf-8"></script>
<script>
layui.config({
  version: '1606182314890' //为了更新 js 缓存，可忽略
});
 
layui.use(["table", "laypage", 'element', 'jquery', 'layer'], function(){
  var laydate = layui.laydate //日期
  ,laypage = layui.laypage //分页
  ,layer = layui.layer //弹层
  ,table = layui.table //表格
  
  
  //执行一个 table 实例
  table.render({
    elem: '#demo'
    ,height: 420
    ,url: serverUrl+"/sysUsers/showAllSysUsers" //数据接口
	
    ,title: 'employee'
    ,page: true //开启分页
    ,toolbar: 'default' ,//开启工具栏，此处显示默认图标，可以自定义模板，详见文档
     parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": 0, 
                        "data": res.data
                    };
                }
    ,cols: [[ //表头
      {type: 'checkbox',fixed:'left'},
	  {field: 'sysUserId', title: '序号', width:80, sort: true},
      {field: 'sysUserName', title: '员工名称', width:120, sort: true}
      ,{field: 'phone', title: '手机', width:180}
      ,{field: 'email', title: '邮箱', width: 180, sort: true}
      ,{field: 'joinTime', title: '加入时间', width:180, sort: true}
      ,{field: 'password', title: '密码', width: 180, sort: true}
	  ,{field: 'dId', title: '所属部门', width: 120, sort: true}
      ,{ title: '操作 ',width: 200, align:'center', toolbar: '#barDemo'}
    ]]
  });
  
  //监听头工具栏事件
  table.on('toolbar(test)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id)
    ,data = checkStatus.data; //获取选中的数据
    switch(obj.event){
      case 'add':
        // layer.msg('添加');
		  
		    layer.open({
		      type: 2,
		      title: '请填写表单',
		      shadeClose: true,
		      shade: 0.8,
		      area: ['580px', '90%'],
		      shadeClose: false,
		      content: 'add_employee.html' //iframe的url
		    });   

      break;
      case 'update':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else if(data.length > 1){
          layer.msg('只能同时编辑一个');
        } else {
          layer.alert('编辑 [id]：'+ checkStatus.data[0].id);
        }
      break;
      case 'delete':
        if(data.length === 0){
          layer.msg('请选择一行');
        } else {
          
  
        }
      break;
    };
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
    var data = obj.data //获得当前行数据
    ,layEvent = obj.event; //获得 lay-event 对应的值
    if(layEvent === 'detail'){
      layer.msg('查看操作');
    } else if(layEvent === 'del'){
      // layer.confirm('真的删除行么', function(index){
      //   obj.del(); //删除对应行（tr）的DOM结构
      //   layer.close(index);
      //   //向服务端发送删除指令
      // });
	  layer.confirm('真的删除ID为：'+data.sysUserId+"的用户吗?", function(index){
	              
	                      $.ajax({
	                          url:serverUrl+"/sysUsers/deleteCurrUser",
	                          type:'get',
	                            data:{'sysUserId':data.sysUserId},//向服务端发送删除的id
							   dataType:"json",
							   contentType: "application/json",
	                          success:function(suc){
	                              if(suc==200){
	                                  layer.msg("删除失败",{icon:5});
	                              }
	                              else{
	                                  
									  obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
									  layer.close(index);
									  console.log(index);
									  layer.msg("删除成功",{icon:1});
	                              }
	                          }
	                      });
	                      layer.close(index); 
	                       });
    } else if(layEvent === 'edit'){
      layer.msg('编辑操作');
    }
  });
  
  
  var curr, limit;
  				var laypage = layui.laypage;
  				var table = layui.table;
  
  				laypage.render({
  					elem: "pages",
  					count: 500,
  					limit: 10,
  					limits: [10, 20, 30, 40, 50],
  					layout: ['prev', 'page', 'next', 'limit', 'count', 'skip'],
  					jump: function(obj, first) {
  						//obj包含了当前分页的所有参数，比如：
  						curr = obj.curr;
  						limit = obj.limit
  						// console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
  						// console.log(obj.limit); //得到每页显示的条数
  					}
  				});
 
  
  
 
});
</script>
</body>
</html>        
        