<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>layui在线调试</title>
		<link rel="stylesheet" href="../../component/pear/css/pear.css" />
		<link rel="stylesheet" href="../../component/layui/css/layui.css" />
		<style>
			body{margin: 10px;}
     .layui-input{
     	width: 300px;
     }
	 .search{
	 	margin-top: 20px;
	 	 text-align: center;
	 	 
	 }
    </style>

	</head>
	<body>

		<!-- 搜索 -->
		<div class="layui-fluid search">
			<form class="layui-form layui-col-space5">

				<div class="layui-inline layui-show-xs-block">
					<input type="text" class="layui-input" name="search_input" placeholder="请输入信息" autocomplete="off">
				</div>
				<div class="layui-inline layui-show-xs-block">
					<button class="layui-btn search_btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
				</div>

			</form>

			<!-- <button class="layui-btn layui-btn-normal add_btn" lay-event="add_btn"  id="add_btn"><i class="layui-icon"></i>新增合同</button>
		<button class="layui-btn layui-btn-danger delAll_btn" ><i class="layui-icon"></i>批量删除</button> -->
		</div>
		<div class="container" style="width: 100%;">
			<table class="layui-hide" id="demo" lay-filter="test"></table>
			<div id="pages"></div>
		</div>


		<script type="text/html" id="barDemo">
			<!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a> -->
   <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


		<script src="../../component/layui/layui.js"></script>
		<script src="../../component/pear/pear.js"></script>
		<script src="../../js/ahao.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../component/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script>
			layui.config({
				version: '1606182314890' //为了更新 js 缓存，可忽略
			});

			layui.use(['laydate', 'laypage', 'layer', 'table', 'util'], function() {
				var laydate = layui.laydate //日期
					,
					laypage = layui.laypage //分页
					,
					layer = layui.layer //弹层
					,
					table = layui.table //表格
					,
					util = layui.util



				//执行一个 table 实例
				table.render({
					elem: '#demo',
					height: 420,
					url: serverUrl + "/product/findProductForPage" //数据接口
						,
					title: 'product',
					page: true //开启分页
						,
					toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
					parseData: function(res) { //res 即为原始返回的数据
						return {
							"code": 0,
							"data": res.data,
							"count": res.count,
						};
					},
					cols: [
						[ //表头
							{
								type: 'checkbox',
								width: 80
							}, {
								field: 'pid',
								title: '序号',
								width: 100,
								sort: true
							}, {
								field: 'pname',
								title: '产品名称',
								width: 200,
								sort: true,
								edit: 'text'
							}, {
								field: 'sysUserName',
								title: '创建人',
								width: 200,
								sort: true,
								edit: 'text',
								templet: function(data) {
									return data.sysUser.sysUserName;
								}
							}, {
								field: 'pCreateTime',
								title: '创建时间',
								width: 200,
								sort: true,
								// templet: function(data) {
								// 	return util.toDateString(data.pCreateTime * 1000);
								// },
								templet : "<div>{{layui.util.toDateString(d.ordertime, 'yyyy-MM-dd')}}</div>"
								
							}, {
								title: '操作 ',
								align: 'center',
								toolbar: '#barDemo'
							}
						]
					]
				});

				//监听头工具栏事件
				table.on('toolbar(test)', function(obj) {
					var checkStatus = table.checkStatus(obj.config.id),
						data = checkStatus.data; //获取选中的数据
					switch (obj.event) {
						case 'add':
							layer.open({
								type: 2,
								title: '请填写表单',
								shadeClose: true,
								shade: 0.8,
								area: ['580px', '90%'],
								shadeClose: false,
								content: 'add_product.html' //iframe的url
							});

							break;
						case 'update':
							if (data.length === 0) {
								layer.msg('请选择一行');
							} else if (data.length > 1) {
								layer.msg('只能同时编辑一个');
							} else {
								layer.alert("请直接在表格内编辑" + checkStatus.data[0].pid + "号");
							}
							break;
						case 'delete':
							checkData = checkStatus.data;
							var delList = [];

							for (var i = 0; i < checkData.length; i++) {
								delList.push(checkData[i].pid);
							}
							console.log(delList);
							if (data.length === 0) {
								layer.msg('请选择一行');
							} else {
								layer.confirm('确定批量删除吗？', function(index) {
									layer.close(index);
									$.ajax({
										type: 'post',
										dataType: 'json',
										contentType: "application/json;charset=utf-8",
										data: JSON.stringify(delList),
										url: serverUrl + '/product/deleteAll',
										// data: {
										// 	ids: delList
										// },
										success: function(res) {
											if (res.status == 200) {
												layer.msg('失败', {
													icon: 2,
													time: 1000
												});
											} else {

												layer.msg('删除成功', {
													icon: 1,
													time: 1000
												}, function() {

													window.location.reload();
												})
											}
										}
									});

								});
							}
							break;
					};
				});

				//监听行工具事件
				table.on('tool(test)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
					var data = obj.data //获得当前行数据
						,
						layEvent = obj.event; //获得 lay-event 对应的值
					if (layEvent === 'detail') {
						layer.msg('查看操作');
					} else if (layEvent === 'del') {
						// layer.confirm('真的删除行么', function(index){
						//   obj.del(); //删除对应行（tr）的DOM结构
						//   layer.close(index);
						//   //向服务端发送删除指令
						// });

						layer.confirm('真的删除ID为：' + data.pid + "的用户吗?", function(index) {

							$.ajax({
								url: serverUrl + "/product/deleteCurrProduct",
								type: 'get',
								data: {
									'pid': data.pid
								}, //向服务端发送删除的id
								dataType: "json",
								contentType: "application/json",
								success: function(suc) {
									if (suc == 200) {
										layer.msg("删除失败", {
											icon: 5
										});
									} else {

										obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
										layer.close(index);
										console.log(index);
										layer.msg("删除成功", {
											icon: 1
										});
									}
								}
							});
							layer.close(index);
						});
					} else if (layEvent === 'edit') {
						layer.msg('请直接在表格内修改！');
					}
				});

				//编辑
				table.on('edit(test)', function(obj) {
					var value = obj.value //得到修改后的值
						,
						data = obj.data //得到所在行所有键值
						,
						field = obj.field; //得到字段
					layer.msg('[ID: ' + data.pid + '] ' + field + ' 字段更改为：' + value);
					var paramJson = {};
					paramJson["pid"] = data.pid;
					paramJson[field] = value;
					$.ajax({
						url: serverUrl + '/product/updateProduct',
						contentType: "application/json;charset=utf-8",
						data: JSON.stringify(paramJson),
						dataType: "json",
						type: "post",
					})
				})


			});
		</script>
	</body>
</html>
